.mouse-pointer {
    cursor: pointer;
}

.margin-top-standard {
    margin-top: 15px;
}

.loading-spinner {
    width: 20px;
    margin-left: 10px;
}

.tweet-card {
    width: 100%;
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px 0px 0px;
}

.tweet-body {
    padding-bottom: 5px;
}

.view-on-twitter {
    padding-top: 10px;
}

.image-circle {
    border-radius: 50%;
    width: 40px;
}

.handle, .retweeted {
    color: slategray;
}

.tweet-media {
    width: 100%;
}

.profile {
    width: 100%;
    display: inline-block;
    margin: 5px 0px;
}